<ion-view class="agenda-view">
  <ion-nav-title class="has-tabs-top">
    <span>Agenda</span>
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-color-light">

    <ion-tab class="tab-title" title="Day 1">
	  <ion-pane>
        <ion-content class="padding">
      <div style="font-weight: bold">  Sunday October 30th 2016(Mexico City)</div>
	  <div> <br><br>Participants arrive at Mexico City’s Airport and transfer to the hotel. Participants check into the Hotel Genève and will have time to rest in order to be ready to start the study tour the following day.
</div>
		<div agenda-event ng-repeat="event in events.day1" class="agenda-event"></div>
		</ion-content>
      </ion-pane>
    </ion-tab>

    <ion-tab class="tab-title" title="Day 2">
      <ion-pane>
        <ion-content class="padding">
		      <div style="font-weight: bold">  Monday October 31st 2016</div>
					<div>Introduction, Expectations and Finding common background for the Study Tour</div><br>
					<div> Objectives: </div>
						<div>Review of the Study Tour objectives, expectations and goals aiming to maximize the learning and exchange experiences from Study Tour participants. </div>
						<br>Background information:<br><div>
During this first day of the Study Tour, participants will understand how violence against women is framed in Mexico. At the same time, the group will reflect and internalise concepts related to gender issues that will be commonly used in the discussions and experiences of the Study Tour.</div>
          <div agenda-event ng-repeat="event in events.day2" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	
	<ion-tab class="tab-title" title="Day 3">
      <ion-pane>
        <ion-content class="padding">
		<div style="font-weight: bold">  Tuesday November 1st 2016</div>
		Objectives:<br>
		Know about how the academia is contributing to enrich the debates about violence
		against women in Mexico
		<br>Background Information:<br>
During this day, participants will have the opportunity to discuss with academics on the latest debates on violence against women and their contribution to addressing violence against women. At the same time, they will meet practitioners from three different CSOs working on the field that have implemented innovative strategies to address gender violence. 

          <div agenda-event ng-repeat="event in events.day3" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	
	<ion-tab class="tab-title" title="Day 4">
      <ion-pane>
        <ion-content class="padding">
				<div style="font-weight: bold"> Wednesday November 2nd 2016</div>
				<div>Objectives: </div>
				<div> Assess and reflect on the learning acquired the day before and how it can be applied to participants’ own context  Understand and reflect the role the media has played in raising the issue of VAW and DV in the public agenda.</div>
          <div agenda-event ng-repeat="event in events.day4" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	
	<ion-tab class="tab-title" title="Day 5">
      <ion-pane>
        <ion-content class="padding">
		<div style="font-weight: bold">Thursday November 3rd 2016</div>
						<div>Objectives: </div>
						<div>Assess and reflect on the State’s role in tackling VAW and DV, especially, with decision-makers working on gender issues. Learn about advocacy strategies that civil society organizations (CSOs) have used to advance issues on VAW and DV.</div>
          <div agenda-event ng-repeat="event in events.day5" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	<ion-tab class="tab-title" title="Day 6">
      <ion-pane>
        <ion-content class="padding">
		 <div style="font-weight: bold">Friday November 4th 2016</div>
						<div>Objectives: </div>
						<div>Learn about the role Civil Society Organisations can play to enhance protection services for women survivors of Domestic Violence</div>
		 <div agenda-event ng-repeat="event in events.day6" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	<ion-tab class="tab-title" title="Day 7">
      <ion-pane>
        <ion-content class="padding">
		<div style="font-weight: bold">Saturday November 5th 2016(Puebla)</div>
								<div>Objectives: </div>
						<div>Learn about the role of local CSOs to enhance protection services for women survivors of Domestic Violence</div>
          <div agenda-event ng-repeat="event in events.day7" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	<ion-tab class="tab-title" title="Day 8">
      <ion-pane>
        <ion-content class="padding">
		<div style="font-weight: bold">Sunday November 6th 2016 (Teotihuacan)</div>
								<div>Objectives: </div>
						<div></div>
          <div agenda-event ng-repeat="event in events.day8" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	
	<ion-tab class="tab-title" title="Day 9">
      <ion-pane>
        <ion-content class="padding">
		<div style="font-weight: bold">Sunday November 6th 2016 (Teotihuacan)</div>
								<div>Objectives: </div>
			<div agenda-event ng-repeat="event in events.day9" class="agenda-event"></div>
        </ion-content>
      </ion-pane>
    </ion-tab>
	
	
	
  </ion-tabs>
</ion-view>
