<ion-view class="event-view">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-share share-event" ng-click="shareEvent(event)"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <!--span>{{participant.type}}</span-->
  </ion-nav-title>
  <ion-content overflow-scroll="true">
    
    <img class="speaker-image" ng-src="{{participant.img}}"/>

    <div class="event-details">
      <span class="event-title" ng-bind-html="participant.name"></span>
    </div>

    <div class="event-description">
      <p class="speaker-bio"> {{participant.bio}} </p>
    </div>

  </ion-content>
</ion-view>

<div agenda-event ng-repeat="event in events.day2" class="agenda-event"></div>