<ion-view class="event-view">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-share share-event" ng-click="shareEvent(event)"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <span> Maps </span>
  </ion-nav-title>
  <ion-content overflow-scroll="true">
  	<ul id="menu" name="menu">
  		<a ui-sref="app.map({img: 'map_puebla' })" style="margin-left:10px;" > <b> Puebla Map  </b> </a>
  		<a ui-sref="app.map({img: 'map_mexico' })" style="margin-left:10px;" > <b> Insurgentes Map </b> </a>
  	 	<a ui-sref="app.map({img: 'map_coyoacan' })" style="margin-left:10px;" > <b> Coyoacán Map  </b> </a>
  	</ul>
    
	<h3 class="cabecera">{{ map.name }} </h3>
	<ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
		<img src="img/{{map.img}}.png" />
	</ion-scroll>

  </ion-content>
</ion-view>

<div agenda-event ng-repeat="event in events.day2" class="agenda-event"></div>


