<ion-view class="agenda-view">
  <ion-nav-title class="has-tabs-top">
    <span>Study Tour, ELLA | Background material for Field Visits/ Meetings </span>
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-color-light">

    <ion-tab class="tab-title" title="Important pre-Tour Information">
      <ion-pane>
        <ion-content class="padding" overflow-scroll="true">
          <div class="agenda-event">
				<h3 class="materialNombre">Beyond Domestic Violence Laws in Latin America: Challenges for Protection Services for Survivors.</h3>
				<p>This paper analyses the responses to address domestic violence in the Latin American Region. It examines the comprehensive approach adopted in the General Law on Women's Access for a Life Free from Violence in Mexico, especially on protection services from the perspective of the survivors. Finally, it proposes concrete policy recommendations to improve the provision of these services</p>
        <a class="enlaceRojo" onclick="window.open('../img/docs/01 - Fundar_Domestic-Violence-REP.pdf', '_system', 'location=no'); return false;" href="#"> Read now </a>
        
        <div class="borderGrey"></div>

        <h3 class="materialNombre">Domestic violence laws in the spotlight: enhancing protection services for survivors in Mexico</h3>
        <p>This brief analyses the Mexican domestic violence law’s implementation and sets out some recommendations to improve it. It shows that, although a comprehensive law exists in Mexico, in practice, institutions should review and transform their mandate in order to fulfill the States’ obligation to prevent, protect and punish domestic violence. </p>
        <a class="enlaceRojo" onclick="window.open('../img/docs/02 - PB-FUNDAR-ENG1.pdf', '_system', 'location=no'); return false;" href="#"> Read now </a>
        
        <div class="borderGrey"></div>

        <h3 class="materialNombre">Report Of the Special Rapporteur On Violence Against Women, Its Causes And Consequences.</h3>
        <p>This thematic report addresses the topic of gender-related killings of women as an extreme manifestation of existing forms of violence against women. Killings are not isolated incidents that arise abruptly or isolated elements, but represent a continuum of violence. The prevalence of different manifestations of gender-related killings is reaching alarming proportions and the lack of state responses encourages impunity and the normalization of a violent culture against women.</p>
        <a class="enlaceRojo" onclick="window.open('../img/docs/03 - AHRC2016_EnPDF.pdf', '_system', 'location=no'); return false;" href="#"> Read now </a>
        
        <div class="borderGrey"></div>

        <h3 class="materialNombre">Violence Against Women By Private Actors: The Inter-American Court’s Judgement In the Case of Gonzalez et al. (Cotton Field) v. Mexico</h3>
        <p>This publication provides an informative analysis of the emblematic ‘Cotton Field’ case in Mexico, in which private actors were responsible for the increasing extreme violence against women resulting in killings based on gender, the extreme brutality of these crimes and the lack of public responses to ensure justice. </p>
				<a class="enlaceRojo" onclick="window.open('../img/docs/04 - mpunyb_09_tiroch_14.pdf', '_system', 'location=no'); return false;" href="#"> Read now </a>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>

  </ion-tabs>
</ion-view>