<ion-view class="agenda-view">
  <ion-nav-title class="has-tabs-top">
    <span>Study Tour, ELLA | Welcome! </span>
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-color-light">

    <ion-tab class="tab-title" title="Important pre-Tour Information">
      <ion-pane>
        <ion-content class="padding" overflow-scroll="true">
          <div class="agenda-event">
          	<h3 class="cabecera"> Welcome! </h3>
			<p class="negritas">Dear Study Tour Participants,</p>
			<p>It is with great pleasure that we will welcome you to Mexico and to our Study Tour on Domestic Violence. We hope that this study tour will support you in your vital professional contributions to address domestic violence and enhance the provision of protection services within your home country and beyond.  </p>
			<p>We hope that the ELLA Study Tour will provide an enhanced means for us all to learn from the Latin American experience and from each other, by offering an opportunity to directly interact with academics, practitioners, shelter staff, decision-makers, and fellow peers from African and Latin American countries facing similar development challenges. Moreover, we hope that the Study Tour will be a space where we may each gain a meaningful understanding of the strategies adopted by decision-makers and civil society organisations to address violence against women and domestic violence in Mexico.</p>
			<p>We trust that through our exposure this week to responses adopted in Mexico to address domestic violence, the provision of protection services and practical examples of their implementation will begin to establish ongoing discussions on how the ideas and lessons learned may be appropriately replicated and applied within each of our respective regions in a practical manner.  Moreover, we look forward to the enhanced networking opportunity this week of activities will inevitably offer and hope that it will form the basis for a lasting supportive relationship with each other within our future endeavours in the field of Domestic Violence </p>
			<p>The balance between work and pleasure is also is important. During the study tour we will also provide an opportunity for you to experience and learn a little about Mexico City, Cholula and Puebla.</p>

			<p>Sincerely,</p>
			<p><b> Fundar Team</b> </p>
			
			<div class="borderGrey"></div>

			<h3 class="contactoPais"> Introduction </h3>
			<p> All our activities in the ELLA Programme emphasise the main ELLA objectives: share experiences, learn from each other, and build South-South networks that work together to address domestic violence! You- as one of our Study Tour participants- play an essential role in this process. You have submitted an excellent application for our Study Tour and have a strong vision of domestic violence and protections services for women as a way to address it.</p>
			<p> Therefore, as our Study Tour begins, please reflect once again on how we can truly enact this process! Perhaps you wish to know how a specific government programme is functioning in practice or how civil society institutions have managed to influence a particular programme. You may also want to gather detailed information of how a civil society institution was successful in influencing a certain policy. However, some participants may have interests of an entirely different technical nature. Nevertheless, thinking of these questions in advance will inevitably help you in making the most of this Study Tour! </p>
			<p> This document will provide you with a detailed account of the Study Tour Programme, as well as with background information on the locations and partners we will visit over its course </p>
			<p> The tour will provide the opportunity to see first-hand about strategies and practical examples adopted by decision-makers and civil society organisations to address violence against women and domestic violence in Mexico. By observing and reflecting on local practices and comparing these with their own context, we expect participants to generate useful lessons that can be translated into action in their own countries. </p>
			<p> Participants will meet with academics, key actors of the government, parliamentarians, and CSOs working with women survived from domestic violence. And have the opportunity to visit the shelter, a Centre of Justice for Women (CEJUM) and the National Commission to Prevent and Eradicate Violence against Women (CONAVIM) and see how different strategies from the government and Civil Society Organisations are implemented to provide protections services for women who survived from violence as an effective way to address it.</p>

			<p>
				The study tour will provide the opportunity to:
				<ul>
					<li> Discuss with academics on current debates on violence against women </li>
					<li> Exchange with CSOs on strategies for the advancement of women’s rights </li>
					<li> Learn from practical examples on the implementation of protection services for women </li>
					<li> Reflect on Mexican State responses to address violence against women </li>
				</ul>
			</p>

			<p> Each participant will come with a personal learning goal relating to his/her work, and an intention to follow-up on the lessons learned upon their return home from the study tour. Throughout the course of the study tour, there will be an on-going discussion concerning the issue of implementing change back home, as a result of knowledge gained within the Learning Alliance.</p>
			<p> We hope that this Study Tour will not be a one-time event.  Rather, we hope that it will contribute to ELLA’s learning, sharing, and networking objectives during and after the conclusion of Study Tour activities. Some of you play an active role working directly with women at the health sector, shelters or within their communities, or with men; while others are involved in the government providing appropriate training to public officers on gender issues or have a direct participation in policymaking. </p>
			<p> In consideration of your expertise, each of you are already in an excellent position to make use of the knowledge you will inevitably obtain during the Study Tour. If you reflect upon how your colleagues or networks at home may benefit from this knowledge, or how you could also use the knowledge in ELLA to promote and enact change, you will see that this process may occur in various forms. Also bear in mind the long-term networking you will inevitably gain as you meet several specialists throughout the Study Tour who have a vested interest in cooperation.  We encourage you to refrain from allowing these meaningful opportunities to slide by and encourage your continued commitment to discussions in our online community by contributing the lessons you believe to be relevant. </p>
			<p> We should envision this as an opportunity to create something durable that will assist practitioners, researchers, government officials, and/or local institutions to address domestic violence.</p>
          </div>
        </ion-content>
      </ion-pane>
    </ion-tab>

  </ion-tabs>
</ion-view>