<h1> IN MEXICO CITY  </h1>
<img src="img/hotel Geneve 2.JPG" />
<p>
	Hotel Genève <br>
	Londres 130, Col. Juárez, <br>
	Mexico D.F., Mexico <br>
	Tel – (+52) (55) 50 800 800‎ <br>
</p>
 
 
<h2> Each hotel room counts with: </h2>
<img src="img/hotel Geneve 3.JPG" />
<ul>
	<li> Room service </li>
	<li> Private Bathroom </li>
	<li> In-room coffee making facilities </li>
	<li> ImageSatellite TV </li>
	<li> Mini-bar </li>
	<li> Air conditioning </li>
	<li> Wireless internet access </li>
	<li> Telephone </li>
	<li> Electronic safe deposit box </li>
</ul>
 
<h2> Hotel facilities: </h2>
<ul>
	<li> Fitness Centre </li>
	<li> Veranda Bistrot Restaurant </li>
	<li> Business Centre </li>
	<li> Spa </li>
	<li> Room service </li>
	<li> Multilingual staff </li>
</ul>
<br>

<p>While staying at the Hotel Genève, breakfast will be served daily to study tour participants. Service starts at 7:00 a.m. </p>
 
<p>When at the Hotel Genève, participants will be able to have lunch and dinner at the Hotel’s restaurant for up to 280 Mexican Pesos (Approximately US$ 15) for the lunch, and up to 250 Mexican Pesos (Approximately US$ 13) for dinner. </p>
 
<h1> IN PUEBLA </h1>
<img src="img/Hotel San Pedro.JPG" />
 
<p>
	Hotel San Pedro <br>
	Calle 2 Oriente No. 202 <br>
	Col. Centro, Puebla, Puebla <br>
	72000 México <br>
	Tel – (+52) (800) 712 2808 <br>
</p>
 
<h2> Each hotel room includes: </h2>
<ul>
	<li> Private bathroom  </li>
	<li> Satellite TV </li>
	<li> Wireless internet </li>
	<li> Hair dryer and ironing kit </li>
	<li> Air conditioning </li>
	<li> Phone </li>
	<li> Safe deposit box </li>
</ul>
 
<h2> Hotel facilities: </h2>
<img src="img/Hotel San Pedro 2.JPG" />
<ul>
	<li> ImagePool (with bungalows) and gardens </li>
	<li> Self-service coffee and tea (all Day) </li>
	<li> Access to kitchen and accessories  </li>
	<li> Reading and rest room </li>
	<li> Laundry service </li>
	<li> Business centre </li>
	<li> Restaurant </li>
	<li> Room service </li>
	<li> Fitness centre </li>
	<li> Outdoor swimming pool and jacuzzi </li>
	<li> Bilingual staff (English) </li>
</ul>
 
<br>
<p>
	While staying at the Hotel San Pedro, breakfast will be served to study tour participants.  
</p>