

<div class="address">
  <h3 class="cabecera">Fundar Centro de Análisis e Investigación </h3>
  Cerrada Alberto Zamora No. 21, <br>
  Col. Villa Coyoacán. Del. Coyoacán <br>
  C.P. 04000 México D.F. <br>
  Tel. (+52) (55) 5554 3001 <br>
</div>

<ul class='people'>
  <li> <img src='img/staff/MarinePerron.jpg' class='ridondo'>
    <h4 class='name'> Marine Perron </h4> <p> Cellphone: (+52 1) (55) 3856 6031 * </p> </li>
  <li> <img src='img/staff/JanetOropeza.jpg' class='ridondo'>
    <h4 class='name'> Janet Oropeza </h4> <p> Cellphone: (+52 1) (55) 4453 2821 * </p> </li>
  <li> <img src='img/staff/Clau1-128x128.jpg' class='ridondo'>
    <h4 class='name'> Claudia de Anda </h4> <p> Cellphone: (+52 1) (55) 3243 2730 * </p> </li>
  <li> <img src='img/staff/cecilia.jpg' class='ridondo'>
    <h4 class='name'> Cecilia Toledo </h4> <p> Cellphone: (+52 1) (55) 4965 7098 * </p> </li>
  <li> <img src='img/staff/haydee.jpg' class='ridondo'>
    <h4 class='name'> Haydeé Pérez </h4> <p> Cellphone: (+52 1) (55) 3488 8878 * </p> </li>
</ul>

<small>
  To call a Mexican cell phone from a foreign cell phone, please mark 0052 1 + 10 digits <br>
  To call a Mexican cell phone from a Mexican landline phone, please mark 044 + 10 digits <br>
  To call a Mexican cell phone from another Mexican cell phone, please mark 10 digits <br>
  To call another Mexican state landline phone from a landline or a cell phone, please mark 01+10 digits <br>
  To call another Mexican state cell phone from a landline phone, please mark 045 + 10 digits <br>
</small>

<div class='embassies' >  
  
  <h3 class="cabecera"> Foreign Embassies in Mexico </h3>
  
  <div class='embassy' > 
    <h3 class="contactoPais"> Nigeria </h3> 
    <p> <b> Address: </b> Cancillería (Mexico) Diego Fernández de Córdova 125, Col. Lomas Virreyes, Del. Miguel Hidalgo, C.P. 11000, México DF </p> 
    <p> <b> Telephone numbers </b>: 5245 1487  y 5245 1695 </p>
    <p> <b>Email and website:</b> <a class="enlaceRojo" href="mailto:info@embassyofnigeria.com.mx">info@embassyofnigeria.com.mx</a> y <a class="enlaceRojo" href="nigembmx@att.net.mx"> nigembmx@att.net.mx</a> </p> 
  </div> 
  <div class='embassy' > 
    <h3 class="contactoPais"> South Africa </h3> 
    <p> <b> Address: </b> Cancillería (Mexico) Andrés Bello No. 10, Piso 9, Edificio Fórum, Col. Polanco, Del. Miguel Hidalgo C.P. 11560, México DF </p> 
    <p> <b> Telephone numbers </b>: 55 1100 4970  </p>
    <p> <b>Email and website:</b><a class="enlaceRojo" href="safrica@prodigy.net.mx"> safrica@prodigy.net.mx</a>  </p> 
  </div> 
  <div class='embassy' > 
    <h3 class="contactoPais"> Sudán </h3> 
    <p> <b> Address: </b> Concurrent Embassy (USA) 2210 Massachusetts Ave Washington DC,20008  </p> 
    <p> <b> Telephone numbers </b>: (001) 202 338 8565  </p>
    <p> <b>Email and website:</b> <a class="enlaceRojo" href="http://www.sudanembassy.org/">http://www.sudanembassy.org/</a> </p> 
  </div> 
  <div class='embassy' > 
    <h3 class="contactoPais"> Kenia </h3> 
    <p> <b> Address: </b> Concurrent Embassy (USA) 2249 R ST NW Washington, DC 20008  </p> 
    <p> <b> Telephone numbers </b>: (001) 202 387 6101   </p>
    <p> <b>Email and website:</b> <a class="enlaceRojo" href="http://www.kenyaembassy.com/">http://www.kenyaembassy.com/</a> <a class="enlaceRojo" href="mailto:information@kenyaembassy.com">information@kenyaembassy.com</a> <p> 
  </div> 
  <div class='embassy' > 
    <h3 class="contactoPais"> Ghana*  </h3> 
    <p> <b> Address: </b> Concurrent Embassy (USA) 3512 International Dr, N.W. Washington D.C., 20008  </p> 
    <p> <b> Telephone numbers </b>: (001) 202 686 4520  </p>
    <p> <b>Email and website:</b> <a class="enlaceRojo" href="http://www.ghanaembassy.org/">http://www.ghanaembassy.org/</a> </p> 
  </div> 
  <div class='embassy' > 
    <h3 class="contactoPais"> Uganda*  </h3> 
    <p> <b> Address: </b> Concurrent Embassy (US) 5911 16th Street, NW, 20011 Washington DC  </p> 
    <p> <b> Telephone numbers </b>: (001) 202 726 7100 </p>
    <p> <b>Email and website:</b> <a class="enlaceRojo" href="http://www.ghanaembassy.org/">http://www.ghanaembassy.org/ </a></p> 
  </div> 
  <div class='embassy' > 
    <h3 class="contactoPais"> Argentina   </h3> 
    <p> <b> Address: </b> Embajada Av. Paseo de las Palmas N° 1670, Col. Lomas de Chapultepec, Del. Miguel Hidalgo C.P. 11000, México D. F. </p> 
    <p> <b> Telephone numbers </b>: 55 5520 9430 al 32, 044 55 4603 2654 (celular en caso de emergencia)  55 5525 0277  </p>
    <p> <b>Email and website:</b> <a class="enlaceRojo" href="http://www.ghanaembassy.org/">http://www.ghanaembassy.org/</a> </p> 
  </div> 
    <div class='embassy' > 
    <h3 class="contactoPais"> Colombia*  </h3> 
    <p> <b> Address: </b> Embajada Avenida Paseo de la Reforma 412 piso 19, Colonia Juárez, Delegación Cuauhtémoc, 06600 México D.F. </p> 
    <p> <b> Telephone numbers </b>: 55 5525 0277   </p>
    <p> <b>Email and website:</b> <a class="enlaceRojo" href="mailto:emexico@cancilleria.gov.co">emexico@cancilleria.gov.co</a> y  <a class="enlaceRojo" href="http://mexico.embajada.gov.co/">http://mexico.embajada.gov.co/</a> <p>
  </div>   
</div>

<p class="asterisco"> * These countries do not have any Embassy or Consulate in Mexico; please verify which is the closest Embassy or Consulate that you can contact in case of emergency.  </p>
