  <p>Recommended items to bring to Mexico: </p>
  
  <h3> Recommended items to bring to Mexico: </h3>
  <ul>
    <li> Travel Documentation and photocopies (Required)</li>
    <li> Passport </li>
    <li> Visa documentation</li>
    <li> Support documentation provided by Fundar.</li>
    <li> Travel insurance documentation </li>
    <li> Health documents (proof of vaccinations, medical prescriptions, etc.)</li>
    <li> Airline ticket</li>
    <li> Telephone numbers and address of your country’s embassy and consulate in Mexico, or in the USA.</li>
  </ul> 

  <h3>Clothing</h3>
  <ul>
    <li> Formal and casual wear appropriate for cool and warm weather (between 15 and 30°C)
      <ul> 
        <li> Sweater and/or Warm jacket for chilly and rainy nights </li> 
        <li> Raincoat </li> 
        <li> Light clothing (light and short-sleeves shirts) as it can get very warm </li> 
      </ul> 
    </li>
    <li> Passport </li>
    <li> Appropriate and comfortable clothing for field visits, sightseeing and air conditioned bus travel (light casual pants, light casual shirt with sleeves; closed-toe boots or tennis) </li>
    <li> We will be visiting public agencies and policy makers, and there might be a press conference on November 4th, so we recommend that you wear formal clothes on that day. The rest of the days you can wear casual clothes. </li>
  </ul> 

  <h3>Miscellaneous Items </h3>
  <ul>
    <li> International adapter plug (In Mexico, plugs are Type A & B) </li>
    <li> Pouch to store money underneath clothing </li>
    <li> Extra money for amenities not covered by ELLA study tour as listed in the \Study Tour Logistical Information\ section</li>
    <li> Avoid as possible bringing items of significant value </li>
    <li> Camera </li>
    <li> Any medication you might need and your prescriptions </li>
    <li> Sunscreen </li>
    <li> Notebook or personal computer to take notes during the visit </li>
    <li> We will be having a Cultural Welcome Diner on the second day of the Study Tour. This is why we invite you to bring a typical object, a piece of clothing or anything that is representative of your country and that you wish to share with us.  </li>
  </ul>

  <h3>Some advice while travelling in Mexico: </h3>
  <ul>
    <li> Be sure to use taxi services at night time. Likewise, always take a safe taxi (taxis de sitio in Spanish). These taxis need to be called, are from trustworthy companies, and are 100% safe. Participants can ask for a safe taxi in the hotel’s front desk. Fundar staff can also help you with calling a safe taxi. Never take a taxi from the street; these are quite dangerous, so please make sure to call one of these “taxis de sitio”.</li>
    <li> At night, avoid going out alone. It is preferable to go in groups of at least two people. Never talk to strangers, even if they look nice and charming. </li>
    <li> Please, be advised not to take out valuable belongings (cameras, Iphones, Ipods, etc.) in the street or in crowded places. 
    <li> Always pay with small notes, especially in small shops. Do not pay with notes of $500 pesos, unless you are in bigger stores, as it will be difficult that people have change. </li>
    <li> When buying local art craft or souvenirs in a market, bargain! Since you are a tourist, vendors will try to give you higher prices. Also, bargaining is a common practice in Mexico. </li>
    <li> Be sure to always carry Embassy/Consulate information, as well as Hotel (see the <a ui-sref="app.infoDetail({infoId: 5})">“Study Tour Accommodation Information”</a> section), Fundar and ELLA staff information (see the “Emergecy Contacts” section)
  </ul>