<h1> Transportation </h1>
<ul>
	<li>
		<b> Air Plane Transportation and hotel reservations are </b> provided to Study Tour participants from their country of residence to Mexico. <b>Participants are asked to keep all their boarding passes</b>, as Fundar and PAC need them for accountability purposes. Participants are also responsible for <b> scanning and sending the boarding passes of their trip back home.</b>
	</li>	
	<li>
		<b>Transportation between the airport and the Hotel Genève </b> will be provided by the Hotel. Someone will be waiting for you at the airport holding a sign with the Hotel Genève’s logo on it. Please look for this person after you retrieve your luggage and pass customs. In case you may not find this person or if you find yourself in any trouble, please do not hesitate to send anyone of us an email or contact us through What’s App group created for that purpose. The Mexican International Airport has free Wi-Fi, as well as public phones, and you will find our cellphone numbers in the “Emergency Contacts” section.
	</li>
	<img src="img/genevelogo.png" style="margin-left: -46px;">
	<li>
		<b>Mini-van transportation </b> will be provided from the hotels to all Study Tour related activities within the cities of Mexico and Puebla. The mini-van will pick participants up at the hotel each morning and will drop all participants off at the end of the day. In order to ensure that all Study Tour activities start on time, participants are asked to be in the Hotel Lobby and ready to leave at least 10 minutes before departure.  
	</li>
</ul>

<h1>Currency and Exchange/Banking Services</h1>
<ul>
	<li> <b>The Peso</b> (MXN) is the currency of Mexico, 1 US dollar = 19 Mexican Pesos.  </li>
	<li>
		<b>Currency exchange services </b>(Cambio de Divisas in Spanish) are available at Mexico City Airport, in Terminal 1 (first and second floor) and Terminal 2 (first and second floor). We suggest that participants exchange their currencies at the airport, as exchange rates are usually more interesting at the airport. However, there are also currency exchange services near the Hotel Genève, and most banks in Mexico accept foreign Visa cards (debit or credit) for withdrawal transactions with a fee. ATMs can usually be found everywhere. 
	</li>
</ul>

<h1>Costs Covered by ELLA</h1>
<ul>
	<li>
		Visa related expenses will be reimbursed upon arrival to Mexico: 
		<ul>
			<li>Visa and transit visa fees </li>
			<li>Hotel and Transportation between countries for those who had to travel abroad to get the Mexican Visa </li>
		</ul>
		<br>
		<b>Participants are asked to bring the receipts of the visa and transit visa, as well as the receipts of Hotels and Transportation between countries</b>, in order to receive their reimbursements. Without the receipts, Fundar will not be able to reimburse participants for visa related expenses.
	</li>
	<li> Lunch at the Hotel Genève on Sunday October 30th and November 6th, for a <b> maximum of $280 Mexican Pesos </b> </li>
	<li> Daily breakfast at the Hotel Genève </li>
	<li> Daily dinner at the Hotel Genève, for a <b>maximum amount of $280 Mexican pesos</b>. In case a participant exceeds this limit, he or she will be asked to pay the difference. </li>
	<li> Lunches from Monday to Saturday will be organized and payed for by Fundar.  </li>
	<li> Fundar will provide per diems to participants for their daily expenses during the Study Tour. The per diem will be of <b>125 Mexican Pesos</b>. The per diems for the whole week will be given to participants on the first day of the Study Tour. Participants are responsible for adequately managing their per diems.</li>
	<li> All study tour related transportation </li>
	<li> Accommodation in Mexico City and Puebla </li>
	<li> Tourist activities arranged in the ELLA study tour itinerary </li>
</ul>

<h1>Costs NOT Covered by ELLA</h1>
<ul>
	<li> Medical insurance </li>
	<li> Vaccinations </li>
	<li> Land transportation in country of origin </li>
	<li> Food costs during airport transit </li>
	<li> Hotel room amenities i.e.: room service, laundry, long-distance phone calls </li>
	<li> Meals taken out of the Hotel and/or out of Study Tour Activities </li>
	<li> Tourist activities not arranged in ELLA study tour itinerary </li>
	<li> Shopping purchases </li>
	<li> Transportation unrelated to study tour activities </li>
	<li> Sim cards - <b>Fundar strongly recommends participants against getting a Mexican sim card.</b>  International call fees from Mexican cellphone numbers are incredibly high, and participants should rather communicate through Skype.</li>
	<li> <b> Alcoholic beverages </b> </li>
	<li> Medications </li>
</ul>