<h1> Mexico </h1>

<p> 
Mexico is a Federal State, formed by 32 states and of approximately 123 million inhabitants. 
Its geographical area is of 1,943,945 km2 of land and it is the 14th largest country in the world. 
Most of the population is found in the middle of the country between the states of Jalisco and Veracruz 
and approximately a quarter of the population lives in and around Mexico City, its capital. 
The official language is Spanish, although around 50 other languages are spoken throughout the country. 
Its currency is the Mexican Peso (MXN $). Mexico’s president has been Enrique Peña Nieto, 
from the Institutional Revolutionary Party (PRI), since December 1st 2012. 
</p> 

<p> 
Mexico has been the site of several advanced Amerindian civilizations - including the Olmec, Toltec, 
Teotihuacan, Zapotec, Maya, and Aztec. It was conquered and colonized by Spain between 1519 and 1521.1 
Administered as the Viceroyalty of New Spain for three centuries, it achieved independence early in 1821. 
Elections held in 2000 marked the first time since the 1910 Mexican Revolution that an opposition candidate 
- Vicente FOX of the National Action Party (PAN) - defeated the party in government, the Institutional 
Revolutionary Party (PRI). He was succeeded in 2006 by another PAN candidate Felipe CALDERON, but 
Enrique PENA NIETO regained the presidency for the PRI in 2012. The global financial crisis in late 2008 
caused a massive economic downturn in Mexico the following year, although growth returned quickly in 2010. 
Ongoing economic and social concerns include low real wages, high underemployment, inequitable income 
distribution, and few advancement opportunities for the largely indigenous population in the impoverished 
southern states. Since 2007, Mexico's powerful drug-trafficking organizations have engaged in bloody feuding, 
resulting in tens of thousands of drug-related homicides.2 
</p> 

<p> 
Mexico is a very vast and diversified country. First, its 10 million indigenous people that are part 
of more than 50 ethnic groups make this country an ethnic and cultural mosaic. Nearly nine million indigenous 
people have kept their language: 16.6% of them speak Nahuatl, a dialect inherited from the Aztecs and mostly 
spoken in the center of the country; 8.9% of them speak Maya, mostly in Chiapas and Yucatán; 5% speak Zapoteco 
in Oaxaca and Veracruz, and other 5% speak Mixteco in the same region.3 This cultural diversity makes very 
rich and colorful handicrafts. 
</p> 

<p> 
Mexico’s historical, cultural and natural wealth has been acknowledged many times by the UNESCO, who has 
inscribed 34 cultural and natural sites on the World Heritage List and has declared seven Mexican traditions 
as Intangible Cultural Heritage. In this list, for instance, is the Mariachi, a traditional Mexican music, and 
the ritual ceremony of the 
</p> 

<p> 
Voladores, a fertility dance performed by several ethnic groups in Mexico and Central America to express 
respect for and harmony with the natural and spiritual worlds. 
</p> 

<p> 
The traditional Mexican cuisine is also considered an Intangible Cultural Heritage by the UNESCO, as it 
is a comprehensive cultural model comprising farming, ritual practices, age-old skills, culinary techniques 
and ancestral community customs and manners. Mexican cuisine also illustrates the country’s diversity, as it 
counts with numerous specialties, inherited from its very diverse states and cultures - the chocolate, the 
frijoles (beans), the tacos, the enchiladas, the quesadillas, the famous guacamole, the chilaquiles, the pozole, 
the mole, the barbacoa or the famous chapulines (grasshoppers)! 
</p> 

<p> 
Another important Mexican tradition has been made Intangible Cultural Heritage by the UNESCO in 2008: 
The Indigenous festivity dedicated to the dead (Día de Muertos in Spanish). This festivity commemorates the 
transitory return to Earth of deceased relatives and loved ones. Mexican families facilitate the return of the 
souls to Earth by decorating their homes with flower petals, candles and offerings. The deceased’s favourite 
dishes are prepared and placed around the home shrine and the tomb alongside flowers and typical handicrafts, 
such as paper cut-outs. Since this festivity takes place at the end of October and the beginning of November, 
do not be surprised to see decorated skulls all around the city on your arrival to Mexico! 
</p> 

<p> 
Finally, Mexico has very diverse landscapes and climates, from the very arid North, to the tropical South, 
passing by its famous beaches on Pacific and Caribbean coasts, The Sierra Madre, its famous mountains chains, 
and its volcanoes, such as the Popocatépetl (5 452m) and the Pico de Orizaba (5 700m), without forgetting its 
beautiful forests. This diversity makes it a very pleasant country to visit.4 
</p> 

<h1> Mexico City </h1>

<p> 
Mexico City, or commonly called “D.F.”, with its 20 millions of inhabitants, its 60km from North to South 
and its 40km from East to West, is one of the biggest conurbations of the world (in competition with Tokyo and 
Sao Paulo). It is located at an altitude of 2 240m and is surrounded by mountains and volcanoes, in particular 
the Popocatépetl which is visible from the main parts of Mexico City. Its downtown historical centre has been 
classified World Heritage from the UNESCO in 1987 for its colonial architecture: palaces from the viceroyalty 
period, squares surrounded of arcades, Aztec ruins, and the majestic Cathedral. The capital is one of the most 
dynamic of Latin America, with its 100 museums, its concerts and world class shows, its manifestations, its 
street sellers and its restaurants where people can eat at any hour of the day. This perpetual movement gives 
to the visitor a feeling of freedom. 
</p> 

<p> 
Mexico City beneficiates from more or less 200 days of sun a year, which makes it a hot city during the 
day, but its altitude makes it a cool or cold one at night. 
</p> 

<p> 
Coyoacán (“the place of the coyotes” in Nahuatl) –the neighbourhood where Fundar is located– is one of the 
most beautiful parts of Mexico City. Traditionally a place that provided asylum to national and international 
artists and intellectuals, this neighbourhood has kept its bohemian atmosphere, and with its paved streets and 
colourful houses, homes of Frida Kahlo, Diego Rivera and Leon Trostki (converted in museums, that can be visited), 
it became the “chilangos”’ (familiar name of Mexico City’s inhabitants) favourite place to go out for a walk on 
weekends.
</p> 

<h1> Oaxaca, Mexico </h1>

<p> 
Oaxaca, 260 000 inhabitants, is located in a valley surrounded by mountains and situated at 500 km South 
of Mexico, and is the capital of the state of Oaxaca. This pleasant colonial city is full of low and colourful 
houses that hide full of flowers and arcades patios. Oaxaca historic centre is also part of UNESCO’s World Heritage. 
</p> 

<p> 
This state is the cradle of one of the most ancient pre-Hispanic civilizations, the Zapotecas, which 
contributes, with its two main archaeological sites, to Oaxaca’s cultural wealth. Oaxaca’s handicrafts are 
beautiful and very diversified – wool carpets, black pottery, alebrijes, traditional clothing and linen, 
basketry, etc. – and they can be found in Oaxaca’s markets and handicrafts houses (Casas de Artesanías), 
several of which are located near the Zócalo. 
</p> 

<div class="links">
	<h1> Referencias </h1>
	<ul>
		<li> <a href="http://whc.unesco.org/en/statesparties/mx" > http://whc.unesco.org/en/statesparties/mx </li>
		<li> <a href="http://www.unesco.org/culture/ich/en/RL/indigenous-festivity-dedicated-to-the-dead-00054" > http://www.unesco.org/culture/ich/en/RL/indigenous-festivity-dedicated-to-the-dead-00054 </li>
		<li> <a href="http://www.unesco.org/culture/ich/en/RL/traditional-mexican-cuisine-ancestral-ongoing-community-culture-the-michoacan-paradigm-00400" > http://www.unesco.org/culture/ich/en/RL/traditional-mexican-cuisine-ancestral-ongoing-community-culture-the-michoacan-paradigm-00400 </li>
		<li> <a href="http://www.unesco.org/culture/ich/en/RL/ritual-ceremony-of-the-voladores-00175" > http://www.unesco.org/culture/ich/en/RL/ritual-ceremony-of-the-voladores-00175 </li>
		<li> <a href="http://www.unesco.org/culture/ich/en/RL/mariachi-string-music-song-and-trumpet-00575" > http://www.unesco.org/culture/ich/en/RL/mariachi-string-music-song-and-trumpet-00575 </li>
		<li> <a href="http://www.visitmexico.com/en/ http://www.ambafrance-ug.org/Organigramme-643" > http://www.visitmexico.com/en/ http://www.ambafrance-ug.org/Organigramme-643 </li>
		<li> <a href="http://www.history.com/topics/mexico/mexico-timeline" > http://www.history.com/topics/mexico/mexico-timeline </li>
		<li> <a href="http://lahistoriamexicana.mx/siglo-xix/independencia-de-mexico" > http://lahistoriamexicana.mx/siglo-xix/independencia-de-mexico </li>
		<li> <a href="https://www.cia.gov/library/publications/the-world-factbook/geos/mx.htm" > https://www.cia.gov/library/publications/the-world-factbook/geos/mx.html</li>
</ul>
</div>