<div class="row">
	<div ng-if="info.inter === 'jose'" class="col event-time">
    <span class="time-from"></span>
    <span ng-show="info.time_to" class="time-to"></span>
  </div>
  <a ng-if="info.type !== 'global'" 
     class="col col-75 event-content _info {{info.type}}" 
     style="background-image:url({{info.background_img}});"
     ui-sref="app.infoDetail({infoId: info.id})" >
    <div class="col col-75 event-content info-content {{info.type}}">
    	<p class="event-title info" ng-bind-html="info.title"></p>	
    </div>
  </a>
  <div ng-if="info.type === 'global'" class="col col-75 event-content {{info.type}}">
    <p class="event-title" ng-bind-html="info.title"></p>
    <p class="event-room">{{info.room}}</p>
  </div>
</div>
